extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container
      div.navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.toggleTarget')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#{siteUrl}')=title
      div.navbar-collapse.collapse.toggleTarget
        ul.nav.navbar-nav
          li
            a Home
          li
            a Contact
  div.container
    div.row
      div.col-md-9(role='main')
        h1.page-header=title
          br
          small=subTitle
        div#mainBlock
        div#loadingImage(style='visibility: hidden;')
          img(src='/img/preloader.gif')
        div#infiniteScrollTrigger

      div.col-md-3
        div.well.well-sm.sidebar-widget
          h2=siteIntroductionTitle
          p=siteIntroduction
        div.well.well-sm.sidebar-widget
          div#calendar.calendar
        div.well.well-sm.sidebar-widget
          h2=recentEntryTitle
          div#recentDiaryBlock
        div.sidebar-widget
          div.social-links
            ul.list-unstyled
              li
                a(href='/feed/rss20.xml')
                  div.social-link-icon.social-link-icon-rss
                  ="RSS2.0"
              li
                a(href='/feed/atom.xml')
                  div.social-link-icon.social-link-icon-rss
                  ="Atom"

  div.scroll-to-top.scroll-to-top-init
