doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='css/style.css?v=#{appVer}')
      link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css?v=#{appVer}')
    block js
      script(src='http://localhost:35729/livereload.js')
      script(data-main='js/app.js?v=#{appVer}', src='components/requirejs/require.js?v=#{appVer}')
  body
    block content
